<!--
  Generated template for the ViewTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>View Task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="task-head">
    <div class="head-left">
      <div class="">Site: paradigm</div>
      <div class="">Emp: paradigm</div>
      <div class="">Task: paradigm</div>
    </div>
    <div class="head-right">
      <div class="">Task no: paradigm</div>
      <div class="">Open: paradigm</div>
      <div class="">Target: paradigm</div>
      <div>Status: Open</div>
    </div>
  </div>

  <div class="task-record">
    <ion-icon class="rec-icon" name="home"></ion-icon>
  </div>

  <div class="desc-div">
    <ion-textarea class="desc-textarea"></ion-textarea>
  </div>

  <div class="imp-checkbox">is this an important <ion-checkbox></ion-checkbox>
  </div>

  <div class="radio-div">
    Status: <ion-radio name="status"></ion-radio><span>Open</span>
    <ion-radio name="status"></ion-radio><span>In progress</span>
    <ion-radio name="status"></ion-radio><span>Close</span>
  </div>

  <div class="buttons-div">
    <button ion-button>Save</button>
    <button ion-button>Cancel</button>
  </div>

</ion-content>