page-view-task {
  .task-view {
    padding: 1rem;
  }
  
  .task-head {
    height: 15%;
  }

  .head-left {
    float: left;
    width: 50%;
  }

  .head-right {
    float: right;
    width: 50%;
    text-align: right;
  }

  .task-record {
    text-align: center;
    ion-icon {
      padding: 2rem 5rem;
      border: solid 1px grey;
      border-radius: 5px;
      margin: 1.5rem 0;
    }
  }

  .desc-div {
    ion-textarea {
      border: solid 1px grey;
      border-radius: 5px;
    }
  }

  .radio-div {
    margin: 1rem 0;
  }

  .imp-checkbox {
    margin: 1rem 0;
  }

  .buttons-div {
    text-align: center;
  }
}
