page-pickup {
  .select-bar{
    height: 3.5rem;
    width: 76%;
    border-radius: 5px;
    border-bottom: black;
    margin-left: 1rem;
  }
  .font-selct{
    background: blue;
    margin-top: 2px;
  }
  .cc-icon{
    width: 10%;
    text-align: center;
    font-size: 3rem;
    margin-left: 1.5px;
  }
  .st-algn{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .slct-bar{
    height: 3rem;
    border-radius: 5px;
    width: 68%;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .slct-br{
    height: 3rem;
    border-radius: 5px;
    width: 68%;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
  .pad {
    border: solid 1px black;
    width: 84%;
    height: 8%;
    margin-bottom: 10%;
    margin-left: 8%;
    border-radius: 3px;
  }
  .text-area {
        border-top: 1px solid lightgrey;
        border: 1px solid #463f3f;
        border-radius: 0.5rem;
        text-area{
            margin: .5rem;
        }
  }
  .icon-stle{
    text-align: center;
    font-size: 5rem;
  }
  .fm-img{
    width: 8rem;
    height: 8rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
}
.alert-fnt{
  opacity: 1;
  transform: scale(1);
  .alert-wrapper {
    border-radius: 2rem;
  }
  .alert-head {
    color: red;
}
}
