<!--
  Generated template for the PickupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="font-selct row">
        <ion-icon class="cc-icon col-2" name="closed-captioning"></ion-icon>
        <select class="select-bar col-8" placeholder="Select">
          <option>Pickup</option>
          <option (onchange)="onclickchange()">Pickup</option>
          <option>Site2</option>
          <option>Site3</option>
          <option>Man power search</option>
          <option>Purcahge</option>
          <option>others</option>
        </select>
        <ion-icon class="cc-icon col-2" name="settings"></ion-icon>
      </div>

</ion-header>


<ion-content padding>
    <div style="text-align: end">timer: {{timerVal}}</div>
    <div>
        <div  class="brder" *ngIf="tasklist==null">
            <div class="st-algn">Pickup</div>
            <ion-label><span>Pickup from:</span>
            <select class="slct-bar col-8" aria-placeholder="select">
                <option (onchange)="onclickchange()">select site for the task</option>
                <option>Site1</option>
                <option>Site1</option>
                <option>Site1</option>
              </select>
            </ion-label>
            <ion-label><span>Delivery to:</span>
              <select class="slct-br col-8" aria-placeholder="select">
                  <option (onchange)="onclickchange()">select site for the task</option>
                  <option>Site1</option>
                  <option>Site1</option>
                  <option>Site1</option>
                </select>
              </ion-label>
            </div>
            <div text-center>
                <img src="../../assets/images/camera.png" *ngIf="!staffPic" (click)="TakePic()" class="fm-img" [ngClass]=" staffPic ?'red-border':''">
                <img *ngIf="staffPic" src="{{staffPic}}" (click)="TakePic()" class="fm-img">
              </div>
              <div>
                  <ion-textarea class="text-area" placeholder="visit notes can go here" [(ngModel)]="description">
                    </ion-textarea>
              </div>
            <ion-footer class="icon-stle" *ngIf="taskList==null">
                <ion-icon name="play"></ion-icon>
                <ion-icon name="pause" (click)="onClickTask()"></ion-icon>
                <ion-icon name="square" (click)="PresentAlert()"></ion-icon>
              </ion-footer>
            </div>

</ion-content>
