page-sites-selection {
  ion-content{
    background: lightgrey !important;
  }

  .task-card{
    display: flex;
    background: white;
    box-shadow: 2px 2px white;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
