<!--
  Generated template for the SitesSelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Task Management</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="tasklist!=null">
    <div class="err-msg">No pending Tasks</div>
  </div>

  <ion-list>
    <div class="task-card" (click)=onClickTask()>
      <div col-6>
        <div>Site: <span>Paradigm</span></div>
        <div>Task: <span>Meeting</span></div>
        <div>Emp: <span>Vali</span></div>
        <div>Status: <span>Open</span></div>
      </div>
      <div col-6>
        <div>Task No: 001</div>
        <div>Open: 26/07/2019</div>
        <div>Target: 27/07/2019</div>
      </div>
    </div>
    <div class="task-card">
      <div col-6>
        <div>Site: <span>Paradigm</span></div>
        <div>Task: <span>Meeting</span></div>
        <div>Emp: <span>Vali</span></div>
        <div>Status: <span>Close</span></div>
      </div>
      <div col-6>
        <div>Task No: 001</div>
        <div>Open: 26/07/2019</div>
        <div>Target: 27/07/2019</div>
      </div>
    </div>
  </ion-list>

  <ion-fab class="fb-btn" bottom right (click)="onClickAddTask()">
    <button ion-fab>
      <ion-icon class="fab-icn" name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
