<!--
  Generated template for the ForgotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="content-padding">
        <div text-center>
          <img style="width: 95px; border-radius: 60%;" src="../../assets/images/images.png">
        </div>
        <div class="hello-title">
          <h1>LittleOffice!</h1>
        </div>
        <div *ngIf="next==1" class="content-margin">
          <div class="text-msg">Enter your regestered mobile number to get started!</div>
          <p class="err-msg" *ngIf="isuser">This email id and mobile number are not exist</p>
          <ion-item class="email-box" no-margin no-padding>
            <ion-label>E-mail :</ion-label>
            <ion-input type="text" [(ngModel)]="email" placeholder="E-mail Id" disabled="true"></ion-input>
          </ion-item>
          <ion-item class="email-box" no-margin no-padding>
            <ion-label>+91</ion-label>
            <ion-input type="tel" [(ngModel)]="phNo" placeholder="Mobile Number" maxlength="10"></ion-input>
          </ion-item>
          <div text-center class="margin-top">
            <button ion-button class="next-btn" (click)="onClickNext1()">Next</button>
          </div>
          <div class="login-txt">Already have an account? <span (click)="onClickLogin()">Log In</span></div>
        </div>

        <div *ngIf="next==2" class="content-margin">
          <div class="text-msg">Sit back & Relax while we are verify your mobile number</div>
          <div class="text-msg">Enter the pin below to verify</div>
          <p *ngIf="isValid" class="err-msg">Pin is wrong</p>
          <div id="otp-holder">
            <div id="otp-content">
              <input id="otp-input" type="tel" [(ngModel)]="dpin" maxlength="6" pattern="\d{6}" autocomplete="off" />
            </div>
          </div>
          <button text-center full clear ion-button *ngIf="!isTimer" class="resend-btn" (click)="resendPin()">
            <ion-icon name="refresh"></ion-icon> Resend Pin
          </button>
          <div *ngIf="isTimer" class="resend-txt">Resend After 00 secs</div>
          <div text-center class="margin-top">
            <button ion-button class="next-btn" (click)="onClickNext()">Next</button>
          </div>
        </div>

        <div *ngIf="next==3" class="content-margin">
          <p *ngIf="checkpass" class="err-msg">Password is not matching</p>
          <ion-item class="email-box" no-margin no-padding>
            <ion-label>Set Password :</ion-label>
            <ion-input type="password" [(ngModel)]="pass1"></ion-input>
          </ion-item>
          <ion-item class="email-box" no-margin no-padding>
            <ion-label>Re-enterPassword :</ion-label>
            <ion-input type="password" [(ngModel)]="pass2"></ion-input>
          </ion-item>
          <div text-center class="margin-top">
            <button ion-button class="update-btn" (click)="onClickNext()">Update Password</button>
          </div>
        </div>
      </div>
</ion-content>
