<!--
  Generated template for the FindMyTeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      GPS Tracking
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full icon-left (click)="startTracking()" >
    <ion-icon name="locate"></ion-icon>
    startTracking
  </button>
  <button ion-button full icon-left (click)="stopTracking()" >
    <ion-icon name="locate"></ion-icon>
    stopTracking
  </button>
  <div #map id="map"></div>
  <ion-list>
    <ion-list-header>previous Tracks</ion-list-header>
    <ion-item *ngFor="let route of previousTracks">
      {{route.fineshed | date}}. {{route.path.length}} waypoints
      <button ion-button clear item-end (click)="showHistoryRuote(route.path)"> View Route</button>
    </ion-item>
  </ion-list>
</ion-content>
