page-home {
  .ion-header-bgcolor {
    background-color: black;
  }
  .content-padding {
    padding: 2rem;
  }
  .paradigm-image {
    width: 180px;
    margin-top: 6px;
    text-align: right;
    float: right;
  }
  /* .content-bgcolor {
    background-image: url("../../assets/imgs/back3.jpg");
    background-size: cover;
  } */
  .hello-title {
    margin-top: 10px;
    color: black;
    text-align: center;
    font-family: auto;
  }
  .text-msg {
    color: red;
    font-family: "Roboto";
    font-size: 20px;
  }
  .login-text-box {
    color: black;
    height: 4rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    width: 100%;
    float: left;
  }
  .login-button {
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: 7rem;
    width: 20rem;
    box-shadow: none;
    background: none;
    border-radius: 8px;
    border: 0.1rem solid black;
    font-size: 1.6rem;
    padding: 1.8rem;
  }
  .keep-me-login {
    margin-top: 20px;
    color: black;
    font-family: "Roboto";
    float: left;
  }
  .keep-me-login-checkbox {
    margin-top: 20px;
    float: left;
  }
  .forgot-pass-msg {
    margin-top: 1rem;
    color: black;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 1.6rem;
  }
  .email-textbox {
    height: 40px;
    padding: 0px;
    margin-top: 1rem;
    color: black;
    background: none;
  }
  .margin-top {
    margin-top: 10rem;
  }
  .pass-textbox {
    height: 40px;
    padding: 0px;
    color: black;
    margin-top: 1rem;
    background: none;
  }
  .login-error-msg {
    color: red;
  }
  .passwordIcon {
    position: relative !important;
  }
  .footer-btn {
    bottom: 0rem;
    position: absolute;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    span {
      color: #f17d08;

    }
    .toolbar-background-md {
      background-color: transparent;
    }
  }
}
