<ion-content padding class="content-bgcolor">
    <div class="content-padding">
        <div text-center>
            <img style="width: 95px; border-radius: 60%;" src="../../assets/images/images.png">
          </div>
          <div class="hello-title">
            <h1>LittleOffice-Ops</h1>
            <button class="btn btn-primary">Primary</button>
            <div class="alert alert-primary" role="alert">
              A simple primary alert—check it out!
            </div>
            <div class="alert alert-secondary" role="alert">
              A simple secondary alert—check it out!
            </div>
            <div class="alert alert-success" role="alert">
              A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert">
              A simple danger alert—check it out!
            </div>
            <div class="alert alert-warning" role="alert">
              A simple warning alert—check it out!
            </div>
            <div class="alert alert-info" role="alert">
              A simple info alert—check it out!
            </div>
            <div class="alert alert-light" role="alert">
              A simple light alert—check it out!
            </div>
            <div class="alert alert-dark" role="alert">
              A simple dark alert—check it out!
            </div>
          </div>
          <div class="margin-top">
          <div *ngIf="isLoginFail" class="login-error-msg">Email or password is wrong</div>
          <div *ngIf="isEmail" class="login-error-msg">Pls enter email for  change the password</div>
          <ion-item class="email-textbox">
            <ion-input class="login-text-box" placeholder="Enter email id" [(ngModel)]="email"></ion-input>
            <ion-icon name="person" item-end></ion-icon>
          </ion-item>
        </div>
          <ion-item class="pass-textbox">
            <ion-input [type]="passwordType" class="login-text-box" [(ngModel)]="pass" placeholder="Password"
              clearOnEdit="false"></ion-input>
            <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
          <p class="keep-me-login" (click)="onClickForgotPass()">Forgot Password?</p>
          <button ion-button full class="login-button" (click)="onLoginClick()">Log in</button>

    </div>
    <ion-toolbar class="footer-btn">
      <ion-row>
        <ion-col text-center>
          <div>Don't Have an Account?<span (click)="onClickSignup()"> Sign Up</span></div>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-content>



