<!--
  Generated template for the AuditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Audit</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div style="text-align: end">timer: {{timerVal}}</div>
    <div>
        <div  class="brder" *ngIf="tasklist==null">
            <div class="st-algn">Audit</div>
            <select class="slct-bar col-8" aria-placeholder="select">
                <option (onchange)="onclickchange()">Select Audit Type</option>
                <option>Regular</option>
                <option>Emergency</option>
                <option>Escalation</option>
                <option>Department : HK/EM/Admin</option>
              </select>
            </div>
          </div>
          <div text-center>
              <img src="../../assets/images/camera.png" *ngIf="!staffPic" (click)="TakePic()" class="fm-img" [ngClass]=" staffPic ?'red-border':''">
              <img *ngIf="staffPic" src="{{staffPic}}" (click)="TakePic()" class="fm-img">
            </div>
            <ion-textarea class="text-area" placeholder="visit notes can go here" [(ngModel)]="description">
              </ion-textarea>
              <ion-footer class="icon-stle">
                  <ion-icon name="play"></ion-icon>
                  <ion-icon name="pause" (click)=onClickTask()></ion-icon>
                  <ion-icon name="square"></ion-icon>
                </ion-footer>
</ion-content>
