<!--
  Generated template for the AddtaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div class="font-selct row">
        <ion-icon class="cc-icon col-2" name="closed-captioning"></ion-icon>
        <select class="select-bar col-8" placeholder="Select">
          <option>Select site or purpose</option>
      <option>Site2</option>
      <option>Site3</option>
      <option>Man power search</option>
      <option>Purcahge</option>
      <option>others</option>
      <option>Pickup</option>
        </select>
        <ion-icon class="cc-icon col-2" name="settings"></ion-icon>
      </div>
</ion-header>


<ion-content padding>
        <div  class="brder" *ngIf="tasklist==null">
            <div class="st-algn">Add New Task</div>
            <select class="slct-bar col-8" aria-placeholder="select">
                <option (onchange)="onclickchange()">Select location</option>
                <option>Deployment</option>
                <option>Audit</option>
                <option>Training</option>
                <option>Meeting-MC</option>
                <option>Meeting-MnG</option>
                <option>General</option>
                <option>Emergency</option>
                <option>Site Etc</option>
              </select>
                  <div>
                          <ion-datetime class="date-fab" displayFormat="MM/DD/YYYY" [(ngModel)]="myDate">
                          </ion-datetime>
                          <ion-icon class="cal-fab" name="calendar">
                          </ion-icon>
                  </div>
              <select class="slct-bar col-8" aria-placeholder="select">
                  <option (onchange)="onclickchange()">Select visit purpose</option>
                  <option>Site1</option>
                  <option>Site1</option>
                  <option>Site1</option>
                </select>
                <ion-textarea class="text-area" placeholder="notes" [(ngModel)]="description">
                  </ion-textarea>
                <div class="btns-div">
                    <button ion-button (click)="onClickSave()">Save</button>
                    <button ion-button (click)="onClickCancel()">Cancel</button>
                  </div>
        </div>
</ion-content>
