<!--
  Generated template for the ManPowerSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <div class="font-selct row">
        <ion-icon class="cc-icon col-2" name="closed-captioning"></ion-icon>
        <select class="select-bar col-8" placeholder="Select">
          <option>Select site or purpose</option>
          <option (onchange)="onclickchange()">Site1</option>
          <option>Site1</option>
          <option>Site1</option>
          <option>Site1</option>
        </select>
        <ion-icon class="cc-icon col-2" name="settings"></ion-icon>
      </div>
</ion-header>


<ion-content padding>
    <div>
        <div  class="brder" *ngIf="tasklist==null">
            <div class="st-algn">Man Power Search</div>
            <select class="slct-bar col-8" aria-placeholder="select">
                <span>For Site</span><option (onchange)="onclickchange()">Select Site for Deployment</option>
                <option>Site1</option>
                <option>Site2</option>
                <option>Site3</option>
              </select>
            </div>
          <ion-item class="pad">
              <ion-input placeholder="Name the search locality" [(ngModel)]="username"></ion-input>
              <ion-icon item-end></ion-icon>
            </ion-item>
            <ion-textarea class="text-area" placeholder="visit notes can go here" [(ngModel)]="description">
              </ion-textarea>
              <ion-footer class="icon-stle">
                  <ion-icon name="play"></ion-icon>
                  <ion-icon name="pause"></ion-icon>
                  <ion-icon name="square" (click)=onClickTask()></ion-icon>
                </ion-footer>
                </div>
</ion-content>
