<!--
  Generated template for the MeetingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <div class="font-selct row">
        <ion-icon class="cc-icon col-2" name="closed-captioning"></ion-icon>
        <select class="select-bar col-8" placeholder="Select">
          <option>Select site or purpose</option>
          <option (onchange)="onclickchange()">Select Meeting Type</option>
          <option>Regular</option>
          <option>Emergency</option>
        </select>
        <ion-icon class="cc-icon col-2" name="settings"></ion-icon>
      </div>

</ion-header>


<ion-content padding>
    <div>
        <div  class="brder" *ngIf="tasklist==null">
            <div class="st-algn">Meeting-MNG</div>
            <select class="slct-bar col-8" aria-placeholder="select">
                <option (onchange)="onclickchange()">Select Meeting Type</option>
                <option>Site1</option>
                <option>Site1</option>
                <option>Site1</option>
            </select>
            </div>
          </div>
          <div class="icon-mic">
          <ion-icon name="mic"></ion-icon>
          </div>
          <ion-textarea class="text-area" placeholder="Deployement Notes go here" [(ngModel)]="description">
            </ion-textarea>
            <ion-footer class="icon-stle">
                <ion-icon name="play"></ion-icon>
                <ion-icon name="pause"></ion-icon>
                <ion-icon name="square"></ion-icon>
              </ion-footer>

</ion-content>
